version: '3'
services:
  cms:
    build:
      context: ./cms
      dockerfile: Dockerfile
    ports:
      - "1337:1337"
    network_mode: host
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    network_mode: host
    depends_on:
      - cms